:root {
  --primary: #50fa7b;
  --primary-010: #21804d;

  --secondary: #6272a4;
  --secondary-010: #44475a;

  --white: #f8f8f2;
  --black: #282a36;
  --black-010: #191a21;
  --grey: #9ba0af;

  --primary-gradient: linear-gradient(
    135deg,
    var(--primary),
    var(--primary-010),
    var(--secondary),
    var(--secondary-010),
    var(--white),
    var(--black),
    var(--black-010),
    var(--grey)
  );
}