:root {
  --primary: #50fa7b;
  --primary-010: #21804d;

  --secondary: #6272a4;
  --secondary-010: #44475a;

  --white: #f8f8f2;
  --black: #282a36;
  --black-010: #191a21;
  --grey: #9ba0af;

  --primary-gradient: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--primary-010) 20%,
    var(--primary-010) 25%,
    var(--secondary) 45%,
    var(--secondary) 50%,
    var(--secondary-010) 70%,
    var(--secondary-010) 75%,
    var(--black) 85%,
    var(--black-010) 100%
  );
}